$design-width: 2561px;
$design-height: 1443px;

$header-height: 118px;

$left-width: 555px;
$left-left-margin: 100px;
$left-right-margin: 60px;

$right-width: 555px;
$right-left-margin: 60px;
$right-right-margin: 100px;

$left-1-height: 295px;
$left-2-height: 295px;
$left-3-height: 295px;
$left-4-height: 295px;

$right-1-height: 295px;
$right-2-height: 295px;
$right-3-height: 295px;
$right-4-height: 295px;
